<div id="body">
			
			<div class="body">
				

       <h1></h1>
      <form method="get">
        <div>
        <label for="size">size to look for:</label>
        <input type="text" name="size" value="" />
        <input type="Submit" value="Search by size" /><br/>
        <br/>
        </div>

        <div>
          <label for="location">location to look for:</label>
          <input type="text" name="location" value="" />
          <input type="Submit" value="Search by location" /><br/><br/>
        </div>
          <div>
          <label for="rate">rate</label>
          <input type="text" name="rate" value="" />
          <input type="Submit" value="Search by rate" /><br/><br/>
        </div>
            <div>
          <label for="availability">availability</label>
          <input type="text" name="availability" value="" />
          <input type="Submit" value="Search by availability" /><br/>
        </div>
      </form>

       <div >
    
     </div>

      <p>
    

       </p>

		
			</div>
			
		
		<div id="footer">
	
			<p>
				BILL BOARD &copy; 2023  | All Rights Reserved
			</p>
		</div>
		</div>
	 </div>
