<div id="body">
			
			<div class="body">
		<h1>Edit a Bill board </h1>
  
  <form method="post">
    <fieldset>
     

      <p><label for="location">location:</label>
         <input type="text" name="location" value="" /></p>

      <p><label for="size">size:</label>
         <input type="text" name="size" value="" /></p>

      <p><label for="rate">rate:</label>
         <input type="text" name="rate" value="" /></p>
           <p><label for="availability">availability:</label>
         <input type="text" name="availability" value="" /></p>

      <input type="hidden" name="movieid" value="" />

      <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
  </form>
  <p>Return to home page</a></p>

		
			</div>
			
		
		<div id="footer">
	
			<p>
				BILL BOARD &copy; 2023  | All Rights Reserved
			</p>
		</div>
		</div>
	 </div>
	 
