<div id="body">
			
			<div class="body">
				<h1>Delete a bill board</h1>
        
      

      <form method="post">
        <fieldset>
        <legend>Billboard Information</legend>

        <p><span>location:</span>
         <span></span></p>

        <p><span>size:</span>
         <span></span></p>

        <p><span>rate:</span>
          <span></span></p>
             <p><span>availability:</span>
          <span></span></p>

        <input type="hidden" name="movieid" value="@movieId" />
        <p><input type="submit" name="buttonDelete" value="Delete billboard" /></p>
        </fieldset>
        
      </form>
	

		
			</div>
			
		
		<div id="footer">
	
			<p>
				BILL BOARD &copy; 2023  | All Rights Reserved
			</p>
		</div>
		</div>
	 </div>